<section class="flex flex-col custom-seablue-bg p-3 min-w-screen min-h-screen">

    <div class="flex flex-row justify-stretch">
        <img src="../../assets/svg/uni-logo.svg" alt="start menu" />

        <div class="flex flex-col justify-around mr-1 min-w-min udc-logo-title">
            <h2 class="main-title-s font-medium dark:text-white tracking-widest">
                Repositorio de Contratación
            </h2>
        </div>
    </div>

    <div class="flex flex-col start-menu-bg px-[8em] py-[4em] border-blue items-center">

        <div class="flex flex-col justify-stretch">

            <div class="flex justify-start items-center rounded-md border-blue start-menu mb-2">
                <img class="icon-menu-start" src="../../assets/svg/home.svg" alt="start menu" />
                <h6 class="text-base font-semibold blue-color-text tracking-widest">Inicio</h6>
            </div>

            <div class="flex flex-row justify-stretch my-2">
                <a class="flex justify-start rounded-md border-blue mr-2 new-doc items-center"
                    [routerLink]="['/createCont']">
                    <img class="icon-menu" src="../../assets/svg/folder-plus.svg" alt="new document" />
                    <h6 class="text-lg font-medium dark:text-white">Crear Nuevo Contrato</h6>
                </a>
                <a class="flex justify-start rounded-md border-blue ml-2 search-doc items-center"
                    [routerLink]="['/searchCont']">
                    <img class="icon-menu" src="../../assets/svg/search.svg" alt="search" />
                    <h6 class="text-lg font-medium dark:text-white">Buscar Contratos y Documentos</h6>
                </a>
            </div>

            <div class="flex flex-row justify-stretch my-2">

                <div class="flex flex-col justify-around w-2/4 mr-2">
                    <a class="flex justify-start rounded-md border-blue settings items-center"
                        [routerLink]="['/settingSyst']">
                        <img class="icon-menu" src="../../assets/svg/settings.svg" alt="settings" />
                        <h6 class="text-lg font-medium dark:text-white">Configuración del Sistema</h6>
                    </a>
                </div>

                <div class="flex flex-col justify-around w-2/4 ml-2">
                    <!-- TODO User settings -->
                    <a class="flex justify-start rounded-md h-2/4 border-blue user-settings mb-2 items-center"
                        [routerLink]="['/']">
                        <img class="icon-menu" src="../../assets/svg/user-cog.svg" alt="user settings" />
                        <h6 class="text-lg font-medium dark:text-white">Configuración de Usuario</h6>
                    </a>
                    <!-- TODO logout link -->
                    <a class="flex justify-start rounded-md h-2/4 border-blue log-out mt-2 items-center"
                        [routerLink]="['/']">
                        <img class="icon-menu" src="../../assets/svg/log-out.svg" alt="log out" />
                        <h6 class="text-lg font-medium dark:text-white">Cerrar Sesión</h6>
                    </a>
                </div>

            </div>

        </div>

    </div>

</section>