<footer>
   <!--Barra de colores-->

   <div class=contColorfooter>
      <div [style.border]="'6px solid ' + appColors.color1" class="barraColor">
      </div>
      <div [style.border]="'6px solid ' + appColors.color2" class="barraColor">
      </div>
      <div [style.border]="'6px solid ' + appColors.color3" class="barraColor">
      </div>
      <div [style.border]="'6px solid ' + appColors.color4" class="barraColor">
      </div>
      <div [style.border]="'6px solid ' + appColors.color5" class="barraColor">
      </div>
   </div>

   <!--Contenido textual-->

   <div id="contFooter">
      <div class="Texto_1">
         <span class="texto_NombreUni"><b>Universidad del Cauca</b></span>
         <span class="texto_Nit">NIT. 891500319-2</span>

         <div class=imagenesFooter>
            <img class="imagenesU" src="../../../../assets/images/recurso_3.png" alt="Logo Universidad">
            <img class="imagenesU" src="../../../../assets/images/logo_icontec_300x.png" alt="Logo ICONTEC">
            <img class="imagenesU" src="../../../../assets/images/gov.png" alt="Logo Gobierno">
         </div>
         
      </div>
      <div class=textosFooter>

         <div class="Texto_2">

            <div id="columnaFooter">
               <span class="texto_NombreUni_2">Universidad del Cauca</span>
               <span class="textoVicerrectoria">Vicerretoria Administrativa</span>
               <span class="numeroTelefonico"> +57 (602) 8209900</span>
               <div class=contTelefono>
                  <div class="imgTelefono"> </div>
               </div>
            </div>
         </div>

         <div class="Texto_3">
            <div id="columnaFooter">
               <span class="textoInfoSistema">Sistema De contratación y seguimiento</span>
               <span class="textoDivicion">división de las tecnologías de la información y comunicaciones</span>
               <span class="textoVersion">Versión 1.0.0</span>
            </div>
         </div>

         <div class="Texto_4">
            <div id="columnaFooter">
               <span class="textoInstitucion">Institución con Acreditación de Alta Calidad por 8 años resolucion  MEN 621 B de 2019 - Vigilada MinEducación</span>
               <span class="textoSoporteTecnico">Comunicate con nuestro Soporte Técnico</span>
            </div>
         </div>
      </div>
   </div>
</footer>