.subsection{
    background: #0e4185;
}

.form-contract {
    display: flex;
    align-items: center;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: white;
    color: #0e4185;
}

.mat-stepper-horizontal {
    background: transparent;
    height: 100%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.radicado {
    grid-template-columns: auto auto auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    width: max-content;
    border: 1px solid #bfd4ef;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    color: white;
}

.grid-radicado {
    display: inline-grid;
    grid-template-columns: auto auto auto;

}

select,
input {
    background:transparent;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    border: 1px solid #bfd4ef;
    height: 40px;
    border-radius: 6px;
    font-size: 13px;
}

select{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ii8+PC9zdmc+) no-repeat 100% 50%;
    background-position: right .7rem center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

select option {
    margin: 40px;
    background: white;
    color: #0e4185;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

select:focus,
input:focus {
    background: rgba(255, 255, 255, 0.2) no-repeat 100% 50%;
    color: white;
}

.CardMess{
    font-size: 30px;
    background: rgba(247, 4, 4, 0.7);
    text-align: center;
    color: white;
}
textarea {
    background: #7195c300;
    border-radius: 6px;
    border: 1px solid #bfd4ef;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    resize: none;
}

textarea:focus {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.grid-contratista {

    grid-column: 1 / 3;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.9;
    filter: invert(0.9);
    -webkit-filter: invert(0.9);
}

.form-card {
    color: white;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: linear-gradient(112.47deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
    border-radius: 20px;
    justify-content: center;
    width: fit-content;
    padding: 1.1vh 9vw 1.1vh 9vw;
}

.boxContainerFormUD {
    color: white;
    top: 30px;
    width: 100%;
    height: 100%;
    glyph-orientation-horizontal: center;
    border-radius: 20px;
    border: 1px solid #9eccf1;
    background-image: linear-gradient(135deg, #7e9db7 0, #6186b7 50%, #466fa4 100%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uniButton {
    display: flex;
    grid-template-columns: auto auto auto;

}

.back-button {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.70;
    padding-right: 0.6em;
    padding-top: 0.4em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.next-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    padding: 0.5em;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    border: 1px solid white;
    height: 50px;
    width: 10em;
    font-size: 14px;
    color: #0e4185;
    grid-template-columns: auto auto auto;
}

button:hover{
    background: #0e4185;
    color: white;
}

