<div class="subsection flex flex-row min-w-screen min-h-screen">
  <app-sidebar></app-sidebar>
  <div class="flex justify-center items-center w-full">
    <div class="form-card w-full">
      <mat-stepper>
        <mat-step label="Datos del contrato">
          <div class="flex justify-center items-center w-full">
            <form [formGroup]="myForm" (ngSubmit)="submitFormulario()" id="formregistro">
              <div>
                <p class="mb-3">
                  Complete la información del nuevo contrato que desea digitalizar
                </p>
                <p>Código</p>
                <div class="mb-3">
                  <div class="grid grid-flow-col justify-stretch">
                    <div class="flex items-center px-2 mr-2 gap-2 radicado">
                      <i-lucide name="ScrollText"></i-lucide>
                      <h1 class="text-center align-middle">{{ radicado }}</h1>
                    </div>

                    <div class="mr-1">
                      <select class="form-select" formControlName="ncContractType" (change)="loadRadicado()"
                        [class.is-invalid]="ncContractTypeInvalid">
                        <option value="" disabled selected>Tipo de Contrato</option>
                        <option *ngFor="let contractsType of contractsType" [value]="contractsType.id">
                          {{ contractsType.name }}
                        </option>
                      </select>
                      <small *ngIf="ncContractTypeInvalid">Tipo de Contrato Invalido</small>
                    </div>

                    <div class="ml-1">
                      <input class="form-control" (input)="loadRadicado()" formControlName="ncNroContract"
                        name="ncNroContract" [class.is-invalid]="ncNroContractInvalid"
                        placeholder="Número de Contrato" />
                      <small *ngIf="ncNroContractInvalid">Número de Contrato Invalido</small>
                    </div>

                  </div>
                </div>
                <div class="grid-contratista">
                  <div class="mb-3">
                    ID Contratista
                    <input class="form-control" formControlName="ncVendor" [class.is-invalid]="ncVendorInvalid"
                      placeholder="ID Contratista" />
                    <small *ngIf="ncVendorInvalid">ID de contratista Invalido</small>
                  </div>
                  <div class="mb-3">
                    <p>Fecha de Expedición</p>
                    <input class="form-control" data-format="dd/MM/yyyy" type="date"
                      [class.is-invalid]="ncInitialDateInvalid" formControlName="ncInitialDate"
                      placeholder="Día/Mes/Año" />
                    <small *ngIf="ncInitialDateInvalid">No ha seleccionado una fecha</small>
                  </div>

                  <div class="mb-3 grid">
                    <p>Modalidad</p>
                    <select class="" class="form-select" formControlName="ncModalityType"
                      [class.is-invalid]="ncModalityTypeInvalid">
                      <option value="" disabled selected>Modalidad del Contrato</option>
                      ncModalityTypeInvalid
                      <option *ngFor="let modalityType of modalityTypes" [value]="modalityType.id">
                        {{ modalityType.name }}
                      </option>
                    </select>
                    <small *ngIf="ncModalityTypeInvalid">No ha seleccionado la modalidad</small>
                  </div>
                  <div class="mb-2">
                    <p>Objeto del Contrato</p>

                    <textarea class="form-control" formControlName="ncSubject" rows="6" cols="80"
                      placeholder="Objeto o Finalidad del Contrato" [class.is-invalid]="ncSubjectInvalid"></textarea>
                    <small *ngIf="ncSubjectInvalid">No ha seleccionado la modalidad</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="flex justify-end">
            <button (click)="submitFormulario()" type="submit">
              Continuar
              <i-lucide name="ChevronRight"></i-lucide>
            </button>
          </div>
        </mat-step>

        <mat-step label="Subir Documentos">
          <div *ngIf="myForm.valid && newContract.id!=0 ;else errorForm">

            <!-- Componente para mostrar los documentos  -->
            <app-documents-create-contract [contractId]="newContract.id">

            </app-documents-create-contract>
          </div>

          <ng-template #errorForm>
            <mat-card>
              <mat-card-content class="CardMess">
                Complete la informacion del contrato</mat-card-content>
            </mat-card>


          </ng-template>

        </mat-step>


      </mat-stepper>
    </div>

  </div>
</div>