.upload-container {
    width: -10px;
    border: 120px solid #B0C4DE;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.upload-container input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black; /* Cambia el color del texto a negro */
    font-size: 18px;
    position: center;
    height: 40px; /* Ajusta la altura según tus necesidades */
    width: 300px; /* Ajusta el ancho según tus necesidades */
}