<div class=Fondo>

  <div class="caja_informacion">
    <span class="Titulo">Adjuntar archivos Excel</span><br/>
    <span class="Informacion">En esta sección podras cargar varios archivos EXCEL los cuales contendrán cada uno información sobre la evaluación de un proveedor en especifico.</span>
  </div>

  <div class="Dropzone"> <app-carga-archivos> </app-carga-archivos><span class="informacion_dropzone">Arrastra y suelta o da clic en la zona blanca para cargar el archivo</span> </div>
  <div class="Paginador"> <app-paginador-carga-individual> </app-paginador-carga-individual></div>
  
</div>