.main-container {
    background-color:rgba(238.00000101327896, 243.00000071525574, 250.00000029802322, 1);
}

#contenido {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajusta la altura mínima del contenedor principal */
}