<div id = "encabezado">
  <button mat-button mat-dialog-close style="margin-top: auto;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title>{{titulo}}</h1>
</div>
<div mat-dialog-content>
  <span *ngIf="asterisco" style="color: orangered;">*</span>
  {{pregunta}}
  <p style="color: orangered;" >{{textoAlerta}}</p>
  <mat-radio-group [(ngModel)]="aceptaCondiciones">
    <mat-radio-button class="example-radio-button" [value]="true"  *ngIf="asterisco">
      Aceptar las condiciones anteriores
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions *ngIf="aceptaCondiciones">
  <button mat-button mat-dialog-close>{{respuestaNegativa}}</button>
  <button mat-button mat-dialog-close color="primary" cdkFocusInitial (click)="onConfirmClick()" *ngIf="mostrarBotonContinuar">{{respuestaPositiva}}</button>
</div>

