.custom-blue {
  background-color: #000066;
}

.cuadrito{
  display: flex;
  width: 940px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: var(--foundation-blue-normal, #006);
}

.cuadritoP{
  display: flex;
  width: 237px;
  height: 117px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
}

.cuadritoP2{
  display: flex;
  width: 584px;
  height: 103px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--foundation-blue-normal, #006);
  background: var(--foundation-blue-light, #E6E6F0);
}

.cuadro-Botones{
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}

.separar-botones{
  display: flex;
  width: 863px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.botones{
  display: flex;
  width: 154px;
  height: 38px;
  padding: 1px 1px 0px 0px;
  justify-content: center;
  align-items: center;

  color: var(--foundation-blue-normal, #000066);
  /* estilo/label */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}

.caja-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.boton-siguiente{
  display: flex;
  width: 141px;
  height: 43px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
  background: var(--foundation-blue-normal-hover, #00005C);
}

.letras-boton{
  color: var(--foundation-blue-light-hover, #D9D9E8);
  /* estilo/label */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}
