<div class="custom-dialog-wrapper">
  <mat-dialog-content>
    <form class="form-doc" [formGroup]="myForm">
      <h1>Nuevo Documento</h1>
      <br>
      <br>
      <h2>Tipo de Documento</h2>
      <input
        formControlName="type"
        class="form-control"
        type="text"
        id="type"
        placeholder="Tipo"
      />
      <h2>Nombre del Documento:</h2>
      <input
        formControlName="name"
        class="form-control"
        type="text"
        id="name"
        placeholder="Nombre del Documento"
        [class.is-invalid]="nameInvalid"
      />
      <small *ngIf="nameInvalid">Nombre Invalido</small>
      <h2>Fecha de Expedición:</h2>
      <input
        formControlName="expeditionDate"
        class="form-control"
        id="date"
        type="date"
        [class.is-invalid]="expeditionDateInvalid"
      />
      <small *ngIf="expeditionDateInvalid">Seleccione la fecha de Expedición</small>
      <h2>Subir Archivo:</h2>
      <div class="mat-form-field">
        <input
        formControlName="file"
          class="file-input"
          type="file"
          name="file"
          (change)="onFileSelected($event)"
          [class.is-invalid]="fileInvalid"
        />
        <div>
          <small *ngIf="fileInvalid" style="font-size:12;color:red"> *Seleccione Documento pdf</small>
        </div>
       
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button (click)="openDialog('0ms', '0ms');">
      Guardar
    </button>
  </mat-dialog-actions>
</div>
