<mat-sidenav-container style="background-color:rgba(238.00000101327896, 243.00000071525574, 250.00000029802322, 1);">
    <mat-card id="contPrincipalAside">
        <mat-card-title>
            <p class="text-1">Evaluación De Proveedores</p>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div class="contenedor-campos">
                <mat-label class="text-2">Número de Contrato/Fecha:</mat-label>
                <mat-card-content class="text-3">{{numContrato.mascara}} del {{numContrato.anio}}</mat-card-content>
            </div>
            <div class="contenedor-campos">
                <mat-label class="text-2">Nombre del Contratista:</mat-label>
                <mat-card-content class="text-3">{{datosAsideEncontrados.name ||error}}</mat-card-content>
            </div>

            <div class="contenedor-campos">
                <mat-label class="text-2">Identificacion:</mat-label>
                <mat-card-content class="text-3">{{datosAsideEncontrados.identification  ||error}}</mat-card-content>
            </div>


            <div class="contenedor-campos">
                <mat-label class="text-2">Fecha de Inicio:</mat-label>
                <mat-card-content class="text-3">{{ datosAsideEncontrados.initialDate| date:'dd/MM/yyyy'  ||error}}</mat-card-content>
            </div>
            <div class="contenedor-campos">
                <mat-label class="text-2">Fecha de Fin:</mat-label>
                <mat-card-content class="text-3">{{ datosAsideEncontrados.finalDate| date:'dd/MM/yyyy' || error }}</mat-card-content>
            </div>
        </mat-card-content>
    </mat-card>
</mat-sidenav-container>