<mat-sidenav-container>
    <mat-card>
        <mat-card-title>
            <p class="text-1">Evaluación De Proveedores</p>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <div class="contenedor-campos">
                <mat-label class="text-2">Número de Contrato/Fecha:</mat-label>
                <mat-card-content class="text-3">{{numContrato}}</mat-card-content>
            </div>
            <div class="contenedor-campos">
                <mat-label class="text-2">Nombre del Contratista:</mat-label>
                <mat-card-content class="text-3">{{nombreContratista}}</mat-card-content>
            </div>

            <div class="contenedor-campos">
                <mat-label class="text-2">NIT:</mat-label>
                <mat-card-content class="text-3">{{nitContratista}}</mat-card-content>
            </div>

            <div class="contenedor-campos">
                <mat-label class="text-2">Cédula:</mat-label>
                <mat-card-content class="text-3">{{cedulaContratista}}</mat-card-content>
            </div>

            <div class="contenedor-campos">
                <mat-label class="text-2">Fecha de Inicio:</mat-label>
                <mat-card-content class="text-3">{{ fechaInicio | date:'dd/MM/yyyy' }}</mat-card-content>
            </div>
            <div class="contenedor-campos">
                <mat-label class="text-2">Fecha de Fin:</mat-label>
                <mat-card-content class="text-3">{{ fechaFin | date:'dd/MM/yyyy' }}</mat-card-content>
            </div>
        </mat-card-content>
    </mat-card>
</mat-sidenav-container>