
<div style="margin: 50px;">
  <mat-grid-list cols="1" rowHeight="200px" class = 'custom-blue'>
    <mat-grid-tile>
        <div class = 'cuadrito '>
          <div class = 'cuadritoP '>
            {{criterio}}
          </div>
          <div class = 'cuadritoP2 scroll'>
            {{descripcionCriterio}}
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>


<div class = "cuadro-Botones">
  <mat-card style="width: 100%;" >
    <mat-card-content style="width: 100%;" >
      <section style="justify-content: center;">
        <mat-radio-group [(ngModel)]="labelPosition"  >
          <div class="container">
            <ng-container *ngFor="let key of getPuntaje()">
              <mat-radio-button class="botones" [value]=key>
                {{ key }}. {{dicPuntaje[+(key)]}} <!-- el "+" sirve para parcear a number -->
              </mat-radio-button>
              <mat-divider [vertical]="true"></mat-divider>
            </ng-container>
          </div>
        </mat-radio-group>

      </section>
    </mat-card-content>
  </mat-card>
</div>

<div class="caja-boton ">
  <!--MOSTRAR BOTONES TIPO:{{contBotones}}-->
  <button mat-fab extended class="boton letras-boton"  *ngIf="contBotones === 3 ||contBotones === 2">
    Atras
    <mat-icon class="material-icons-filled icono-azul">keyboard_double_arrow_left</mat-icon>
  </button>
  <button mat-fab extended class="boton letras-boton" *ngIf="contBotones === 1 ||contBotones === 2">
    <mat-icon class="material-icons-filled icono-azul">keyboard_double_arrow_right</mat-icon>
    Siguiente
  </button>  
  <button mat-fab extended class="boton letras-boton"  *ngIf="contBotones === 3">
    <mat-icon  class="material-icons-filled icono-azul">assignment</mat-icon>
    Enviar Calificacion
  </button>
</div>
</div>