
.custom-blue {
  background-color: #000066;
}

.cuadrito{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: var(--foundation-blue-normal, #006);
}

.cuadritoP{
  display: flex;
  width: 30%;
  height: 117px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
}

.cuadritoP2{
  display: flex;
  width: 70%;
  height: 103px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--foundation-blue-normal, #006);
  background: var(--foundation-blue-light, #E6E6F0);
}

.cuadro-Botones{
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}

.separar-botones{
  display: flex;
  width: 863px;
  height: 38px;
  justify-content: center;
  align-items: center;
}


mat-divider {
  height: 30px; 
  margin: 0 10px; 
}
.container {
  display: flex;
  align-items: center;
}

.botones{
  margin-right: 10px;
  display: flex;
  width: 154px;
  height: 38px;
  padding: 1px 1px 0px 0px;
  justify-content: center;
  align-items: center;

  color: var(--foundation-blue-normal, #000066);
  /* estilo/label */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}

.caja-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;  
  justify-content:right;
}

.boton{
  display: flex;
  max-width: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
  background: var(--foundation-blue-normal-hover, #00005C);
}

.letras-boton{
  color: var(--foundation-blue-light-hover, #D9D9E8);
  /* estilo/label */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}

.icono-azul {
  color: rgb(1, 95, 126); 
}

@media (max-width: 1000px) {              /* se activará cuando el ancho de la pantalla sea igual o menor que 768 píxeles,*/
  .container {
      flex-direction: column;          /* Cambia la dirección a vertical cuando se alcanza el ancho máximo */
      align-items: flex-start;         /* Alinea los elementos a la izquierda en el eje vertical */
 
  }
  
}
.scroll{
  max-height: 100px; 
  overflow: auto;
}