<div id="contenido-calificacion">
<app-buscar-proveedor></app-buscar-proveedor>
  <div style="display: flex;">
    <div style="width: 30%; display: flex; justify-content: center;    ">
      <app-asidem2></app-asidem2>
    </div>
    <div style="width: 70%; padding: auto;">
      <app-card-dialog *ngFor="let tile of tiles; let i = index" 
        [criterio]="tile.criterio" 
        [descripcionCriterio]="tile.descripcion"
        [contBotones]="i === 0 ? 1 : i === tiles.length - 1 ? 3 : 2"
      ></app-card-dialog>
      <app-resultados></app-resultados>
    </div>
  </div>

</div>
