<div id="contenido-calificacion" style="padding: 2%;">
<app-buscar-proveedor *ngIf="indexVistaActual===0"
  (emisorIdContrato)="recibidoIdContratoValido($event)">
</app-buscar-proveedor><!--VISTA DE BUSQUEDA:Vicible al iniciar-->
  <div style="display: flex;">
    <div style="width: 30%; display: flex; justify-content: center; margin: AUTO;   ">
      <app-asidem2 *ngIf="indexVistaActual!==0" [numContrato]="numContrato"></app-asidem2><!--VISTA DE BUSQUEDA:Vicible al iniciar-->
    </div>
    <div style="width: 70%; padding: auto;">
      <ng-container *ngFor="let tile of tiles; let i = index"><!--VISTA DE Calificacion:Vicible al sumar la primera vista al indice-->
        
            <app-card-dialog  *ngIf="indexVistaActual ===1+i " 
              [criterio]="tile.criterio" 
              [descripcionCriterio]="tile.descripcion"
              [contBotones]="i === 0 ? 1 : i === tiles.length - 1 ? 3 : 2"
              [seleccionadoRadio]="calificacionesArray[i]"
              [seleccionadoRadioTodos]="calificacionesArray"
              (emisorNavegacion)="recibidoBotonNavegacion($event)"
              (emisorValor)="ingresarCalificacionCriterio($event, i )"
            ></app-card-dialog>
        </ng-container>
      <app-resultados *ngIf="indexVistaActual===indexVistaMax" [numContrato]="numContrato"></app-resultados><!--VISTA DE RESULTADOS:visible en la ultima posicion-->
    </div>
  </div>

</div>
