    
       <div class="cuerpo">
      <div class="cont-contenido">
        <app-titulo-linea title="Evaluación De Proveedores" class="titulo"></app-titulo-linea>
        <div class="cont-descripcion">
          <p class="para-realizar-la">
            Para realizar la evaluación de proveedores,
             ingrese un número de contrato válido y presione 'continuar'
             . La evaluación es cualitativa, pero los puntajes cuantitativos 
             correspondientes estarán visibles en la parte superior de cada opción.
          </p>
        </div>
      </div>
      <div id="contBuscar">
        
          <mat-form-field class="example-full-width"  style="
          width: 80%;">
            <mat-label>Ingrese máscara de contrato</mat-label>
            <input matInput placeholder="Ej. 	5.5-31.1/1" [(ngModel)]="contratoValido.mascara" required>
          </mat-form-field>
          <app-desplegable-anios (emisorAnioSeleccionado)="recibidoAnio($event)"></app-desplegable-anios>
              
        <button mat-fab extended color="primary" (click)="validarContrato()" >
          <mat-icon>search
          </mat-icon>
        </button>
      </div>
    </div>
