    <div class="cuerpo">
      <div class="cont-contenido">
        <app-titulo-linea title="Evaluación De Proveedores" class="titulo"></app-titulo-linea>
        <div class="cont-descripcion">
          <p class="para-realizar-la">
            Para Realizar La Evaluación De Proveedores, Ingrese Un Número De Contrato Válido Y Presione
            &#39;continuar&#39;. La Evaluación Es Cualitativa, Pero Los Puntajes Cuantitativos Correspondientes Estarán
            Visibles En La Parte Superior De Cada Opción.
          </p>
        </div>
      </div>
      <div class="cont-busqueda">
        <div class="input">
          <input>
          <input type="text" placeholder="Escribe el número de contrato aquí">
          <img class="vector" src="https://c.animaapp.com/KQLzLEAc/img/vector-2@2x.png" />
        </div>
        <div class="boton-busqueda">
          <img class="vector" src="https://c.animaapp.com/bEroUezc/img/vector.svg" />
          <button mat-fab extended color="primary">
            <mat-icon>search
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
