<p>buscar-proveedor works!</p>


    <div class="cuerpo">
      <div class="cont-contenido">
        <div class="title">
          <div class="cont-text"><div class="text-wrapper">Evaluación De Proveedores</div></div>
          <div class="cont-line"><img class="line" src="https://c.animaapp.com/CHMf4e2F/img/line-3.svg" /></div>
        </div>
        <div class="cont-descripcion">
          <p class="para-realizar-la">
            Para Realizar La Evaluación De Proveedores, Ingrese Un Número De Contrato Válido Y Presione
            &#39;continuar&#39;. La Evaluación Es Cualitativa, Pero Los Puntajes Cuantitativos Correspondientes Estarán
            Visibles En La Parte Superior De Cada Opción.
          </p>
        </div>
      </div>
      <div class="cont-busqueda">
        <div class="input">
          <input>
          <input type="text" placeholder="Escribe el número de contrato aquí">
          <img class="vector" src="https://c.animaapp.com/KQLzLEAc/img/vector-2@2x.png" />
        </div>
        <div class="boton-busqueda">
          <img class="vector" src="https://c.animaapp.com/bEroUezc/img/vector.svg" />
          <div class="boton">EVALUAR</div>
        </div>
      </div>
    </div>
