<nav>
      <div class="contLogoU">
         <img class="imgLogoU" src="../../assets/img/unicaucaEscudo.png" alt="imgUser" />
      </div>

       <div class=contRutas>
          <a class=items [routerLink]="['/homePage/calificacion']">
            <span class="material-symbols-outlined">
               check_circle
             </span>
             <span  class="navLabel">Calificar Proveedor</span>
          </a>

          <a class=items [routerLink]="['/homePage/descargaFormato']">
            <span class="material-symbols-outlined">
               download_for_offline
            </span>
             <span  class="navLabel">Descarga de Calificaciones</span>
          </a>

          <a class=dropdown-botton>
             <div mdbDropdown class="dropdown">
               <a
                 role="button"
                 id="dropdownMenuLink"
                 mdbDropdownToggle
                 aria-expanded="false"
               >
               <span class="material-symbols-outlined">
                  publish
               </span>
                <span  class="navLabel">Subir Informacion</span>
               </a>
               <ul mdbDropdownMenu class="dropdown-menu">
                 <li><a class="dropdown-item" [routerLink]="['/homePage/subirArchivo']">carga masiva contratos</a></li>
                 <li><a class="dropdown-item" [routerLink]="['/homePage/subirArchivos']">cargar contratos</a></li>
               </ul>
             </div>
          </a>

          <a class=items [routerLink]="['/homePage/dashboard']">
            <span class="material-symbols-outlined">
               monitoring
               </span>
             <span  class="navLabel">Estadísticas</span>
          </a>
       </div>

       <div class=contUsuario>
         <div class="infoUsuario">
            <span  class="nombreUsuario">User 021 </span>
            <span  class="rolUsuario">División Tic</span>
         </div>
        <img src="../../assets/img/avatar___user_60.png" class="imgUsuario">
     </div>
    </nav>
