<div id="cuerpo">
   
    <!-- Contenedor Principal del Dashboard -->
    <div class="dashboard-container">  

        <mat-toolbar>
            <app-desplegable-anios (emisorAnioSeleccionado)="recibidoAnio($event)"></app-desplegable-anios>
            <app-chips (emisorCategoriaSeleccionado)="recibidoCategoria($event)"></app-chips>
        
            <span class="example-spacer"></span>

            <div class="dashboard-controls">
                <select [(ngModel)]="graficoSeleccionado" (change)="cambiarGrafico($event)">
                    <option *ngFor="let grafico of graficos" [value]="grafico.id">
                        {{ grafico.nombre }}
                    </option>
                </select>
            </div>

            <button (click)="mostrarTodasLasGraficas()" class="mostrar-todas-btn">
                <span class="material-icons">view_module</span>
            </button>

        </mat-toolbar>
        
        <div id="contenido">
            <div id="aside">
                <app-aside-filtro 
                [subcategorisContrato]="subcategorisContrato"
                [nombreCategoria]="categoriaBusqueda"
                ></app-aside-filtro>
            </div>
            <div id="resultadoBusquedas">
                <div class="separadoHorizontal">
                    <app-linea-calificacion ></app-linea-calificacion>
                    <mat-slider min="1" max="5" discrete step ="1"  showTickMarks >
                        <input  matSliderStartThumb [(ngModel)]="val1"/>
                        <input  matSliderEndThumb [(ngModel)]="val2"/>
                      </mat-slider>
                      {{val1}}-{{val2}}
                </div>
                <!-- Área de Visualización de Gráficos -->
                <div class="dashboard-graphics">
                    <div *ngIf="mostrarTodas || graficoSeleccionado === 'pie-grid'">
                        <app-pie-grid-chart [datosGraficos]="datosGraficos"></app-pie-grid-chart>
                    </div>
                
                    <div *ngIf="mostrarTodas || graficoSeleccionado === 'avanzado'">
                        <app-advanced-pie-chart [datosGraficos]="datosGraficos"></app-advanced-pie-chart>
                    </div>
                
                    <div *ngIf="mostrarTodas || graficoSeleccionado === 'barras'">
                        <app-vertical-bar-chart [datosGraficos]="datosGraficos"></app-vertical-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
