.centrarContenidoFila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.centrarContenidoColumna{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.separadoHorizontal{
    margin-left: 135px;
}