#contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#aside{
    width: 30%; 
    display: flex; 
    justify-content: center;
    /* margin: AUTO; */
    /*background-color: red;*/
}
mat-slider {
    width: 400px;
  }
#resultadoBusquedas{
    width: 70%;
    padding: 15px;
    /*background-color: tan;*/
}
.separadoHorizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboard-container {    
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-toolbar {
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dashboard-graphics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}

/* Estilos para mat-form-field */
.mat-form-field {
    width: 100%; /* Ajustar el ancho según sea necesario */
    max-width: 200px; /* Controlar el ancho máximo */
    margin: 10px 0; /* Espaciado vertical */
}

.example-spacer {
    flex: 1 1 auto;
}

/* Estilos para el botón de mostrar todas las gráficas */
.mostrar-todas-btn {
    padding: 6px 12px;
    margin-left: 10px;
    background-color: #007bff; /* Color primario */
    color: white; /* Contraste alto para accesibilidad */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

.mostrar-todas-btn:hover {
    background-color: #0056b3; /* Efecto hover */
}

.mostrar-todas-btn .material-icons {
    font-size: 20px;
}
app-linea-calificacion{
    align-items: end;
}