
<div class=Fondo>

  <div class="caja_informacion">
    <span class="Titulo">Adjuntar archivo Excel</span><br/>
    <span class="Informacion">En esta sección podras cargar un (1) archivo EXCEL el cual contendrá Información sobre diferentes calificaciones de proveedores.</span>
  </div>
  
  <div class="Dropzone"> <app-carga-archivo> </app-carga-archivo> <span class="informacion_dropzone">Arrastra y suelta o da clic en la zona blanca para cargar el archivo</span> </div>
  <div class="Paginador"> <app-paginador-carga-masiva> </app-paginador-carga-masiva> </div>

</div>
