.upload-container {
    width: -10px;
    border: 120px solid #B0C4DE;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.upload-container input[type="file"] {
    display: block;
    margin: 20px auto;
    color: black; 
    font-size: 18px;
}