<div id="contTable">
  <app-titulo-linea title="Lista Filtrada Proveedores {{anioTitulo}}" id="centrar" ></app-titulo-linea>
    <content>        
       
        <div>
          
          <ngx-datatable
            #mydatatable
            class="material"
            [headerHeight]="50" 
            [limit]="5"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            rowHeight="auto"
            [rows]="datosRecuperados"
            [selected]="selected"
            [selectionType]="SelectionType.single"
            (activate)="onActivate($event)"
            (select)="onSelect($event)"
          >
          <!--<ngx-datatable-column name="id">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span
                title="Click to edit"
              >
                {{ value }}
              </span>
            </ng-template>
          </ngx-datatable-column>-->
            <ngx-datatable-column prop="nameVendor" name="Nombre Contratista">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span
                  title="Nombre Contratista"
                >
                  {{ value }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="numContractYear" name="Cantidad Contratos {{anioTitulo}}">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <span
                  title="Cantidad de contratos en el año buscado"
                  >
                  {{ value }}
                </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="scoreYear" name="Prom. calificaciones {{anioTitulo}}">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <span
                  title="Calificacion de 1 a 5"
                  >
                  {{ value }}
                </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="numContract" name="Cantidad Contratos Totales">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <span
                  title="Cantidad de contratos Con la Universidad"
                  >
                  {{ value }}
                </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="scoreGeneral"name="Promedio Total">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <span
                  title="Calificacion de 1 a 5"
                >
                  {{ value }}
                </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="idsContract"name="Contratos Agrupados">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <span
                  title=""
                >
                  {{(value)  }}
                </span>
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </content>
</div>
