.uniButton {
  display: flex;
  grid-template-columns: auto auto auto;

}

.back-button {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  padding-right: 0.6em;
  padding-top: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.next-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
  padding: 0.5em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  border: 1px solid white;
  height: 50px;
  width: 10em;
  font-size: 14px;
  color: #0e4185;
  grid-template-columns: auto auto auto;
}

button:hover{
  background: #0e4185;
  color: white;
}

.barra {
  color: #3064a8;
  display: flex;
  background-color: #c7d8e6;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.barraDocumentos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 5px; /* Ajusta el margen inferior si es necesario */
}

.columna {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 0 10px;
  margin-right: 20px;
}

.columnaDocs {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  /* Asegurar que ocupe todo el ancho disponible */
  margin-right: 20px;
}

.columna:last-child {
  border-right: none;
}

.mat-panel-title {
  display: block;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.acordeonIC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}



.mat-panel-title.lineaDocumentos {
  display: flex;
  margin-bottom: 0px;
}


.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  /*background-image: linear-gradient(135deg, #7e9db7 0, #6186b7 50%, #619ceb 100%);*/
  background: transparent;
  margin-bottom: 10px;
  border-radius: inherit;
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.mat-expansion-panel-header[aria-expanded=false]{
  background: transparent;
}
.mat-expansion-panel-header.mat-expanded:focus{
  background: rgba(255, 255, 255, 0.2);
  color: #0E4185;
}
.mat-expansion-panel-header[aria-expanded=true]{
  background: rgba(255, 255, 255, 0.2);
}
.mat-expansion-panel-header {
  /*background-image: linear-gradient(135deg, #7e9db7 0, #6186b7 50%, #619ceb 100%);*/
  background: transparent;
  position: relative;
  border-radius: inherit;
}

.mat-expansion-panel-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  pointer-events: none;
}


.mat-panel-title {
  display: block;
  width: 100%;
  align-items: center;
}

.mat-panel-description {
  display: block;
  flex-direction: column;
  align-items: center;
  margin-block-end: 5px;
}

.columna-acordeon {
  flex: 1;
  margin-right: 5px;
}

.contenedor-acordeon {
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
}

.etiqueta {
  text-align: left;
  color: white;
}

.lineaDocumentos {
  border: 1px solid #fff;
  color: white;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;

}

.titulo-acordeon {
  display: flex;
  align-items: center;
  position: relative;
}

.acordeonEtapa {
  padding-top: 10px;
}

.add-button {
  width: 78px;
  height: 34px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 35px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 5px;
  border: none;
}

.add-button:hover {
  background: #0E4185;
  color: white;
}

.add-button mat-icon {
  font-size: 30px;
}
.botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.boton-crear,
.boton-editar,
.boton-borrar {
  width: 40px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border-radius:50% ;
}

.boton-crear {
  display: flex;
  background: #AFE68D;
  justify-content: center;
  align-items: center;
  color:#0E750C;
}

.boton-editar {
  display: flex;
  background: #8DB6E6;
  justify-content: center;
  align-items: center;
  color: #0E4185;
}

.boton-borrar {
  display: flex;
  background: #e95c5c;
  justify-content: center;
  align-items: center;
  color: #750C0C;
}

.boton-crear:hover {
  background: #0E750C;
  color:#AFE68D;
}

.boton-editar:hover {
  background: #0E4185;
  color: #8DB6E6;
}

.boton-borrar:hover {
  background: #750C0C;
  color: #e95c5c;
}

::ng-deep .mat-horizontal-stepper-content.mat-horizontal-stepper-content-inactive  {
  width: 1px;
}