
.centrar{    
    width: 100%;
    display: flex;
    align-items: center;     /* Alinea los elementos verticalmente en el centro */
    justify-content: center; /*Alinea en el centro de la pantalla*/
}
#resultados{
    width: 70%;
    margin: 1%;
    padding: 20px;
}
#criterios{
    background-color: white;
    display: flex;
    justify-content: center;     /* Centra los elementos horizontalmente */
    align-items: center;         /* Alinea los elementos verticalmente en el centro */
    flex-direction: row;         /* Asegura que los elementos secundarios estén en fila */
    padding: 3%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Añade sombra al borde inferior */

}
.progresoCriterio{
    width:10%;
    height: auto;
    margin: 0 10px;                      /* Ajusta el margen izquierdo y derecho para separar los elementos */
    min-width: 90px;
}
@media (max-width: 768px) {              /* se activará cuando el ancho de la pantalla sea igual o menor que 768 píxeles,*/
    #criterios {
        flex-direction: column;          /* Cambia la dirección a vertical cuando se alcanza el ancho máximo */
        align-items: flex-start;         /* Alinea los elementos a la izquierda en el eje vertical */
        width: 50%;
    }
    #resultados{
        display: flex;
    }
    
    #total{    
        display: flex;
        align-items: center; /* Alinea los elementos verticalmente en el centro */
    }
}
.progresoTotal{
    min-width: 150px;
    width: 50%;             /*para tener 2 columnas*/
    height: 100%;
}
#total{
    display: flex;
    padding: 1%;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;         /* Alinea los elementos verticalmente en el centro */
    flex-direction: row;         /* Asegura que los elementos secundarios estén en fila */
    
}
#imgCheck{
    width: 200px;
    height: auto;
}
#BORRARaside{
    background-color: aqua;
    width: 30%;
    height: 100vh;
}
#BORRARestructura{
    display: flex;
}