CD
  <div id="resultados centrar">
    <div class="centrar" >
        <app-titulo-linea  [title]="title"></app-titulo-linea>
    </div>
    <div id="criterios">
        <div *ngFor="let key of obtenerClaves()" class="progresoCriterio">
            <app-progreso-circular [title]="key" [score]="miDiccionario[key]" [scoreMax]="5" color="azul"></app-progreso-circular>
        </div>
    </div>
    <div id="total">
        <div class="col">
            <div class="progresoTotal">
                <app-progreso-circular title="Puntaje de Evaluacion Total:" [score]="getTotal()" [scoreMax]="maximo" color="rojo"></app-progreso-circular>
                <div class="example-button-row centrar">
                    <button mat-fab extended color="primary" (click)="openDialog('250ms', '100ms')">
                      <mat-icon>print</mat-icon>
                      Imprimir
                    </button>

                  </div>
            </div>

        </div>
        <div class="col">
            <img id="imgCheck" src="../../../../../assets/img/check.png"/>
        </div>
    </div>

  </div>
